BasedOnStyle: WebKit
IndentWidth: 2
UseTab: Never
PointerAlignment: Left
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: false
SpacesBeforeTrailingComments: 1
MaxEmptyLinesToKeep: 2
EmptyLineAfterAccessModifier: Leave
IndentCaseLabels: true
AccessModifierOffset: -2
ObjCBinPackProtocolList: Never
ColumnLimit: 78
AlignOperands: Align
AllowShortFunctionsOnASingleLine: None
AllowAllConstructorInitializersOnNextLine: true
AllowShortBlocksOnASingleLine: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: false
  SplitEmptyFunction: true
  AfterControlStatement: MultiLine
  BeforeElse: true
  AfterCaseLabel: true
  SplitEmptyRecord: true